body {
    background-image: url(./imgs/fondo-inconsútil-del-vector-papel-pintado-textura-modelo-contexto-sistema-de-los-iconos-friki-empollón-videojugador-la-111045566.jpg);
}

.list {
    position: relative;
    overflow: hidden;
    margin:15px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(8, 8, 8, 0.5);
}

/* 
ESTO ES LO MISMO PERO TRATANDOLOS DISTINTO

.list div {
    position: relative;
    z-index: 2;
}

.list:after {
    display: block;
    background-color: rgb(8, 8, 8);
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
} */